/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/variantprioritization Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input/output options
    input                           = null

    // Reference options
    genome                          = null
    igenomes_ignore                 = false
    igenomes_base                   = 's3://ngi-igenomes/igenomes/'
    pcgr_bundleversion              = 20250314
    pcgr_database_dir               = null
    pcgr_download                   = true
    vep_cache                       = 's3://annotation-cache/vep_cache/'
    vep_cache_version               = 113
    vep_species                     = 'homo_sapiens'

    // CPSR options
    panel_id                        = '0'
    custom_list                     = null
    custom_list_name                = null
    diagnostic_grade_only           = false
    secondary_findings              = false
    pgx_findings                    = false
    gwas_findings                   = false
    pop_gnomad                      = 'nfe'
    maf_upper_threshold             = 0.9
    classify_all                    = false
    clinvar_report_noncancer        = false
    ignore_noncoding                = false
    vep_gencode_basic               = false

    // PCGR options
    vcf2maf                         = false
    assay                           = null
    cna_analysis                    = false
    cna_overlap_pct                 = 50

    // Allelic support tags/thresholds
    tumor_dp_tag                    = null
    tumor_af_tag                    = null
    control_dp_tag                  = null
    control_af_tag                  = null
    call_conf_tag                   = null
    tumor_dp_min                    = 0
    tumor_ad_min                    = null
    tumor_af_min                    = 0
    control_dp_min                  = 0
    control_ad_max                  = null
    control_af_max                  = 1
    effective_target_size_mb        = 34

    // Germline input into PCGR
    input_cpsr                      = null
    input_cpsr_yaml                 = null

    // TMB / MSI / signatures
    estimate_tmb                    = false
    tmb_display                     = 'coding_and_silent'
    tmb_dp_min                      = null
    tmb_af_min                      = null
    tmb_ad_min                      = null
    estimate_msi                    = false
    estimate_signatures             = false
    min_mutations_signatures        = 200
    all_reference_signatures        = false
    include_artefact_signatures     = false
    prevalence_reference_signatures = 0.1

    no_html                         = false

    // PCGR tumor-only options
    tumor_only                      = false
    pon_vcf                         = null
    exclude_pon                     = false
    exclude_likely_hom_germline     = false
    exclude_likely_het_germline     = false
    exclude_dbsnp_nonsomatic        = false
    exclude_nonexonic               = false
    maf_gnomad_nfe                  = 0.002
    maf_gnomad_fin                  = 0.002
    maf_gnomad_asj                  = 0.002
    maf_gnomad_oth                  = 0.002
    maf_gnomad_amr                  = 0.002
    maf_gnomad_afr                  = 0.002
    maf_gnomad_eas                  = 0.002
    maf_gnomad_sas                  = 0.002
    maf_gnomad_global               = 0.002

    // Variant filtering options
    filter_haplotypecaller          = "-i'FORMAT/DP>10'"
    filter_deepvariant              = "-i'FORMAT/DP>10'"
    filter_strelka_variants         = "-i'FORMAT/DP>10'"
    filter_freebayes_germline       = "-i'FORMAT/DP>10'"
    filter_mutect2                  = "-i'FORMAT/DP>10'"
    filter_freebayes_somatic        = "-i'FORMAT/DP>10'"
    filter_strelka_indels           = "-i'FORMAT/DP>10'"
    filter_strelka_snvs             = "-i'FORMAT/DP>10'"

    // VEP options
    vep_n_forks                     = 4
    vep_buffer_size                 = 500
    vep_gencode_all                 = true
    vep_pick_order                  = 'mane_select,mane_plus_clinical,canonical,biotype,ccds,rank,tsl,appris,length'
    vep_no_intergenic               = false

    // Institutional config options
    custom_config_version           = 'master'
    custom_config_base              = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_name             = null
    config_profile_description      = null
    config_profile_contact          = null
    config_profile_url              = null

    // Generic options
    version                         = false
    publish_dir_mode                = 'copy'
    email_on_fail                   = null
    plaintext_email                 = false
    max_multiqc_email_size          = '25.MB'
    monochrome_logs                 = false
    multiqc_config                  = null
    multiqc_logo                    = null
    multiqc_methods_description     = null
    validate_params                 = true
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    modules_testdata_base_path      = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix             = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
    help                            = false
    help_full                       = false
    show_hidden                     = false
    outdir                          = null
    email                           = null
    multiqc_title                   = null
}

// Backwards compatibility for publishDir syntax
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions      = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions   = '--nv'
        singularity.runOptions = '--nv'
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
    }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/variantprioritization custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/variantprioritization custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/variantprioritization.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/variantprioritization'
    contributors    = [
        [
            name: '@yussab',
            affiliation: '',
            email: '',
            github: '',
            contribution: ['author'],
            orcid: '',
        ],
        [
            name: 'Famke Bäuerle',
            affiliation: 'Quantitative Biology Center (QBiC) Tübingen, University of Tübingen, Germany',
            github: '@famosab',
            contribution: ['contributor'],
            orcid: '0000-0003-1387-0251',
        ],
    ]
    homePage        = 'https://github.com/nf-core/variantprioritization'
    description     = """pipeline for the functional annotation and translation of somatic SNVs/InDels and copy number abberations for precision cancer medicine"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.4'
    version         = '1.1.0dev'
    doi             = 'https://doi.org/10.5281/zenodo.19480994'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.6.1'
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
}
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
