/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BCFTOOLS_NORM {
        label      = 'process_low'
        ext.args   = [
            "",
            "-m",
            "-both",
            "-cw",
            "-Oz --write-index=tbi",
        ].join(" ").trim()
        ext.prefix = { "${meta.id}.norm" }
        publishDir = [
            path: { "${params.outdir}/bcftools/norm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BCFTOOLS_FILTER {
        label      = 'process_low'
        ext.args   = {
            [
                " ",
                "-Oz",
                " --write-index=tbi",
                " ",
                meta.tool == 'deepvariant' ? params.filter_deepvariant : null,
                meta.tool == 'haplotypecaller' ? params.filter_haplotypecaller : null,
                meta.tool == 'strelka.variants' ? params.filter_strelka_variants : null,
                meta.tool == 'mutect2' ? params.filter_mutect2 : null,
                meta.tool == 'strelka.somatic_snvs' ? params.filter_strelka_snvs : null,
                meta.tool == 'strelka.somatic_indels' ? params.filter_strelka_indels : null,
                meta.tool == 'freebayes' && meta.status == 'germline' ? params.filter_freebayes_germline : null,
                meta.tool == 'freebayes' && meta.status == 'somatic' ? params.filter_freebayes_somatic : null,
            ].grep { item -> item != null }.join("").trim()
        }
        ext.prefix = { "${meta.id}.norm.filtered" }
        publishDir = [
            path: { "${params.outdir}/bcftools/filter" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PCGR_GETREF {
        publishDir = [
            path: { "${params.outdir}/reference/pcgr" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: UNTAR_PCGR_DB {
        publishDir = [
            path: { "${params.outdir}/reference/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: UNTAR_VEP_CACHE {
        publishDir = [
            path: { "${params.outdir}/reference/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: REFORMAT_VCF {
        ext.when   = { meta.status == 'somatic' }
        ext.prefix = { "${meta.id}.reformatted" }
        publishDir = [
            path: { "${params.outdir}/custom/reformat" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: REFORMAT_CNA {
        ext.when   = { params.cna_analysis && meta.status == 'somatic' }
        ext.prefix = { "${meta.sample}.reformatted.allelic_cna" }
        publishDir = [
            path: { "${params.outdir}/custom/reformat" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: INTERSECT_VCF {
        ext.prefix = { "${meta.patient}.${meta.sample}" }
        publishDir = [
            path: { "${params.outdir}/custom/intersect_vcf/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: PCGR_PREPAREVCF {
        ext.prefix = { "${meta.patient}.${meta.sample}" }
        publishDir = [
            path: { "${params.outdir}/custom/pcgr_ready_vcf" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: PCGR_RUN {
        ext.prefix   = { "${meta.patient}.${meta.sample}" }
        ext.genome   = { params.genome.toLowerCase() }
        ext.database = { params.database }
        ext.args     = {
            [
                params.assay ? "--assay ${params.assay}" : "",
                params.input_cpsr ? "--input_cpsr ${params.input_cpsr}" : "",
                params.input_cpsr_yaml ? "--input_cpsr_yaml ${params.input_cpsr_yaml}" : "",
                params.vcf2maf ? "--vcf2maf" : "",
                params.tumor_dp_tag ? "--tumor_dp_tag ${params.tumor_dp_tag}" : "",
                params.tumor_af_tag ? "--tumor_af_tag ${params.tumor_af_tag}" : "",
                params.control_dp_tag ? "--control_dp_tag ${params.control_dp_tag}" : "",
                params.control_af_tag ? "--control_af_tag ${params.control_af_tag}" : "",
                params.call_conf_tag ? "--call_conf_tag ${params.call_conf_tag}" : "",
                params.tumor_dp_min ? "--tumor_dp_min ${params.tumor_dp_min}" : "",
                params.tumor_ad_min ? "--tumor_ad_min ${params.tumor_ad_min}" : "",
                params.tumor_af_min ? "--tumor_af_min ${params.tumor_af_min}" : "",
                params.control_dp_min ? "--control_dp_min ${params.control_dp_min}" : "",
                params.control_ad_max ? "--control_ad_max ${params.control_ad_max}" : "",
                params.control_af_max ? "--control_af_max ${params.control_af_max}" : "",
                params.cna_analysis && params.cna_overlap_pct ? "--cna_overlap_pct ${params.cna_overlap_pct}" : "",
                params.estimate_tmb ? "--estimate_tmb" : "",
                params.estimate_tmb && params.effective_target_size_mb ? "--effective_target_size_mb ${params.effective_target_size_mb}" : "",
                params.estimate_tmb && params.tmb_display ? "--tmb_display ${params.tmb_display}" : "",
                params.estimate_tmb && params.tmb_dp_min ? "--tmb_dp_min ${params.tmb_dp_min}" : "",
                params.estimate_tmb && params.tmb_af_min ? "--tmb_af_min ${params.tmb_af_min}" : "",
                params.estimate_tmb && params.tmb_ad_min ? "--tmb_ad_min ${params.tmb_ad_min}" : "",
                params.estimate_msi ? "--estimate_msi" : "",
                params.estimate_signatures ? "--estimate_signatures" : "",
                params.estimate_signatures && params.min_mutations_signatures ? "--min_mutations_signatures ${params.min_mutations_signatures}" : "",
                params.estimate_signatures && params.all_reference_signatures ? "--all_reference_signatures" : "",
                params.estimate_signatures && params.include_artefact_signatures ? "--include_artefact_signatures" : "",
                params.estimate_signatures && params.prevalence_reference_signatures != null ? "--prevalence_reference_signatures ${params.prevalence_reference_signatures}" : "",
                params.tumor_only ? "--tumor_only" : "",
                params.pon_vcf ? "--pon_vcf reformat.pon.vcf.gz" : "",
                params.tumor_only && params.exclude_pon ? "--exclude_pon" : "",
                params.tumor_only && params.exclude_likely_hom_germline ? "--exclude_likely_hom_germline" : "",
                params.tumor_only && params.exclude_likely_het_germline ? "--exclude_likely_het_germline" : "",
                params.tumor_only && params.exclude_dbsnp_nonsomatic ? "--exclude_dbsnp_nonsomatic" : "",
                params.tumor_only && params.exclude_nonexonic ? "--exclude_nonexonic" : "",
                params.tumor_only && params.maf_gnomad_afr ? "--maf_gnomad_afr ${params.maf_gnomad_afr}" : "",
                params.tumor_only && params.maf_gnomad_amr ? "--maf_gnomad_amr ${params.maf_gnomad_amr}" : "",
                params.tumor_only && params.maf_gnomad_asj ? "--maf_gnomad_asj ${params.maf_gnomad_asj}" : "",
                params.tumor_only && params.maf_gnomad_eas ? "--maf_gnomad_eas ${params.maf_gnomad_eas}" : "",
                params.tumor_only && params.maf_gnomad_fin ? "--maf_gnomad_fin ${params.maf_gnomad_fin}" : "",
                params.tumor_only && params.maf_gnomad_global ? "--maf_gnomad_global ${params.maf_gnomad_global}" : "",
                params.tumor_only && params.maf_gnomad_nfe ? "--maf_gnomad_nfe ${params.maf_gnomad_nfe}" : "",
                params.tumor_only && params.maf_gnomad_oth ? "--maf_gnomad_oth ${params.maf_gnomad_oth}" : "",
                params.tumor_only && params.maf_gnomad_sas ? "--maf_gnomad_sas ${params.maf_gnomad_sas}" : "",
                params.vep_n_forks ? "--vep_n_forks ${params.vep_n_forks}" : "",
                params.vep_buffer_size ? "--vep_buffer_size ${params.vep_buffer_size}" : "",
                params.vep_pick_order ? "--vep_pick_order ${params.vep_pick_order}" : "",
                params.vep_no_intergenic ? "--vep_no_intergenic" : "",
                params.no_html ? "--no_html" : "",
            ].join(" ").trim()
        }
        publishDir   = [
            path: { "${params.outdir}/pcgr" },
            mode: params.publish_dir_mode,
        ]
    }

     withName: CPSR_RUN {
        ext.prefix   = { "${meta.patient}.${meta.sample}" }
        ext.genome   = { params.genome.toLowerCase() }
        ext.database = { params.database }
        ext.args     = {
            [
                "",
                // CPSR params
                "--panel_id ${params.panel_id}",
                params.diagnostic_grade_only    ? "--diagnostic_grade_only" : "",
                params.ignore_noncoding         ? "--ignore_noncoding" : "",
                params.pop_gnomad               ? "--pop_gnomad ${params.pop_gnomad}" : "",
                params.maf_upper_threshold      ? "--maf_upper_threshold ${params.maf_upper_threshold}" : "",
                params.classify_all             ? "--classify_all" : "",
                params.clinvar_report_noncancer ? "--clinvar_report_noncancer" : "",

                // VEP params
                params.vep_n_forks              ? "--vep_n_forks ${params.vep_n_forks}" : "",
                params.vep_buffer_size          ? "--vep_buffer_size ${params.vep_buffer_size}" : "",
                params.vep_gencode_basic        ? "--vep_gencode_basic" : "",
                params.vep_pick_order           ? "--vep_pick_order ${params.vep_pick_order}" : "",
                params.vep_no_intergenic        ? "--vep_no_intergenic" : "",
            ].join(" ").trim()
        }
        publishDir = [
            path: { "${params.outdir}/cpsr" },
            mode: params.publish_dir_mode,
        ]
    }
}
