/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantprioritization -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // PCGR params
    input                      = "https://github.com/nf-core/test-datasets/raw/refs/heads/variantprioritization/samplesheets/default.csv"
    vep_cache                  = "https://github.com/nf-core/test-datasets/raw/refs/heads/variantprioritization/reference/vep_cache_113_GRCh38_chr22.tar.gz"
    vep_cache_version          = 113
    genome                     = 'GRCh38'
    pcgr_download              = false
    pcgr_bundleversion         = 20250314
    pcgr_database_dir          = 'https://github.com/nf-core/test-datasets/raw/refs/heads/variantprioritization/reference/pcgr_ref_grch38_chr22.tar.gz'
    assay                      = 'WES'
    control_dp_tag             = "NDP"
    control_af_tag             = "NAF"
    estimate_signatures        = true
    estimate_msi               = true
    estimate_tmb               = true
    cna_analysis               = true
    vcf2maf                    = true
    filter_mutect2             = "-i 'FILTER=\"PASS\"'"
    filter_strelka_indels      = "-i 'FILTER=\"PASS\"'"
    filter_strelka_snvs        = "-i 'FILTER=\"PASS\"'"
    // html report generation throws errors with downsampled cache
    no_html                    = true
    vep_gencode_basic          = true
    vep_no_intergenic          = true
}
